@import "tailwindcss";

/* --- ANIMASI MARQUEE UNTUK SPONSOR --- */
@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); } /* Bergeser setengah dari total panjang agar loop-nya mulus */
}

.animate-marquee {
  animation: marquee 40s linear infinite;
}

/* Membuat animasi berhenti saat mouse diarahkan ke teks */
.animate-marquee:hover {
  animation-play-state: paused;
}